{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

 <p><FONT COLOR="Black">Buscar productos</FONT>
    <form action="{% url 'busquedaProducto' %}" method="get">
        <label for="codigo"><b> Codigo:</b></label>
        <input type="text" id="codigo" name="codigo" value="{{ request.GET.codigo }}">
        <button type="submit">Buscar</button>
    </form>
    {% if resultados %}
    <p><FONT COLOR="black">Resultados</FONT><p>
    <ul>
        {% for Producto in resultados %}
        <li><b>Nombre: </b>{{ Producto.nombre }} <b>| Codigo: </b> {{ Producto.codigo }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}




