{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Bienvenidos</h1>
    <p><FONT COLOR="Black">Buscar productos</FONT>
        <form action="{% url 'busquedaProducto' %}" method="get">
            <label for="codigo"><b> Ingrese el Codigo del producto:</b></label>
            <input type="text" id="codigo" name="codigo" value="{{ request.GET.codigo }}">
            <button type="submit">Buscar</button>
        </form>
        {% if resultados %}
        <p><FONT COLOR="grey">Resultados</FONT><p>
        <ul>
            {% for Producto in resultados %}
            <li><b>Nombre: </b>{{ producto.nombre }} <b>| Codigo: </b> {{ producto.codigo }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}
    